<div  class="welcome" *ngIf="welcomeFlag">
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Welcome!</strong> Thanks to consider my portfolio for a time.
        
      </div>
</div>
<div class="container " >
    <div class="title shadow  bg-seconadry ">
        <span class="">My Portfolio</span>
    </div>

    <div class="name shadow-lg  bg-gradient bg-opacity-10 rounded">
        <span>
            <span>Hi,</span> I am
        </span><br>
        <span>Rohit Rathor</span><br>
        <span>(Software Developer)</span>
    </div>

    <div class="profile ">
        <div class="profile-bg "></div>
        <img src="./assets/Untitled design.png">
    </div>
</div>