<div class="container shadow-lg rounded-5">
    <h1>Contact</h1>

    <ul class="social-media">
        <a href="https://www.facebook.com/rohitrathor.rathor.399"><li><i class='bx bxl-facebook-circle'></i></li></a>
        <a href="https://www.instagram.com/rohitrathor_gwalior/"><li><i class='bx bxl-instagram'></i></li></a>
        <a href="https://github.com/Rohit-rathor3"><li><i class='bx bxl-github'></i></li></a>
        <a href="https://www.linkedin.com/in/rohit-rathor-9245a8244/"><li><i class='bx bxl-linkedin'></i></li></a>
        <a href="https://www.youtube.com/channel/UCtpf_MEeMOE9MXbfCfia2IQ"><li><i class='bx bxl-youtube'></i></li></a>
    </ul>
    <ul>
        <a href="../../assets/Rohit Rathor Resume.pdf" download="rohitrathorresume" class="btn btn-outline-success">Download Resume</a>
    </ul>

    <ul class=" d-flex justify-content-around">
        <div><span><i class='bx bxs-phone-call'></i></span> Mobile: +91 8103010392</div>
        <div><span><i class='bx bxs bxl-gmail'></i></span> Email : info.rohitrathor@gmail.com</div>
    </ul>
</div>
